/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NUM 1
#define ACC 2
#define SYM 3

/ {
    macros {
        /* @: AltGr; */
        ma_1: ma_1 {
            label = "ma_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp SEMI>
                , <&macro_release &kp RALT>
                ;
        };
        /* #: AltGr' */
        ma_2: ma_2 {
            label = "ma_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp SQT>
                , <&macro_release &kp RALT>
                ;
        };		
        /* [: AltGr[ */
        ma_3: ma_3 {
            label = "ma_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp LBKT>
                , <&macro_release &kp RALT>
                ;
        };				
        /* ]: AltGr] */
        ma_4: ma_4 {
            label = "ma_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp RBKT>
                , <&macro_release &kp RALT>
                ;
        };						
        /* ²: Alt253 */
        ma_5: ma_5 {
            label = "ma_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2>
                , <&macro_tap &kp KP_N5>
                , <&macro_tap &kp KP_N3>				
                , <&macro_release &kp LALT>
                ;
        };								
        /* ~: Alt126 */
        ma_6: ma_6 {
            label = "ma_6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1>
                , <&macro_tap &kp KP_N2>
                , <&macro_tap &kp KP_N6>				
                , <&macro_release &kp LALT>
                ;
        };										
        /* ×: Alt0215 */
        ma_7: ma_7 {
            label = "ma_7";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N1>
                , <&macro_tap &kp KP_N5>				
                , <&macro_release &kp LALT>
                ;
        };									
        /* ÷: Alt0247 */
        ma_8: ma_8 {
            label = "ma_8";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N4>
                , <&macro_tap &kp KP_N7>				
                , <&macro_release &kp LALT>
                ;
        };								
        /* È: Alt0200 */
        ma_9: ma_9 {
            label = "ma_9";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N0>				
                , <&macro_release &kp LALT>
                ;
        };
        /* Ù: Alt0217 */
        ma_10: ma_10 {
            label = "ma_10";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N1>
                , <&macro_tap &kp KP_N7>				
                , <&macro_release &kp LALT>
                ;
        };
        /* Ì: Alt0204 */
        ma_11: ma_11 {
            label = "ma_11";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N4>				
                , <&macro_release &kp LALT>
                ;
        };
        /* Ò: Alt0210 */
        ma_12: ma_12 {
            label = "ma_12";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N2>				
                , <&macro_tap &kp KP_N1>
                , <&macro_tap &kp KP_N0>				
                , <&macro_release &kp LALT>
                ;
        };
        /* À: Alt0192 */
        ma_13: ma_13 {
            label = "ma_13";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0>
                , <&macro_tap &kp KP_N1>				
                , <&macro_tap &kp KP_N9>
                , <&macro_tap &kp KP_N2>				
                , <&macro_release &kp LALT>
                ;
        };		
    };
};

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold Tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC
&lt NUM TAB  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp RBKT  &kp RET
&mt LSHFT CAPS  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp UP  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &lt NUM SPACE  &trans &kp SPACE  &trans &lt ACC SPACE  &kp DEL  &kp LEFT  &kp DOWN  &kp RIGHT             
            >;
        };

        number_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS
&kp TILDE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &kp HOME
&trans  &kp NUBS  &trans  &trans  &trans  &trans  &ma_1  &ma_2  &ma_3  &ma_4  &kp FSLH  &kp PSCRN
&trans  &trans  &kp LSHFT  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_VOL_DN  &kp PG_DN  &kp C_VOL_UP
            >;
        };

        accent_layer {
            bindings = <
&trans  &ma_5  &trans  &kp LBKT  &trans  &ma_6  &trans  &kp NUHS  &kp EQUAL  &kp SEMI  &ma_7  &kp PSCRN
&trans  &kp SQT  &trans  &ma_8  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &kp C_PWR  &trans  &trans  &trans  &trans  &kp RSHFT  &mo SYM  &trans  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans  &trans  &ma_9  &trans  &trans  &trans  &ma_10  &ma_11  &ma_12  &trans  &trans
&trans  &ma_13  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &out OUT_TOG  &bt BT_CLR  &trans  &trans  &bootloader  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
